// Variables
$color-primary: #25305c;
$color-secondary: #fcfcfc;
$color-default: #041247;
$color-success: #3ddd9f;
$color-warning: #f6ca5a;
$color-danger: #e75e85;

$font-default: Arial, sans-serif !default;

// Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
