.imageBackground {
  background-image: url("../../public/assets/archetypes_bg.svg");
  background-size: cover;
  object-fit: cover;
}

.inputBlock {
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 15px;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}
