@use "sass:color";
@use "reset/mixins" as m;

.imageBackground {
  background-image: url("/assets/archetypes_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  
  @media (max-width: 768px) {
    background-attachment: scroll;
    background-size: cover;
    min-height: 80vh;
  }
  
  @media (max-width: 480px) {
    min-height: 70vh;
  }
}

.absoluteShadowSearchBlock {
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 15px;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}
